<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<h1>Select a number form 1-6</h1>
<ul>
    <li><a href="/roll-dice/1">1</a></li>
    <li><a href="/roll-dice/2">2</a></li>
    <li><a href="/roll-dice/3">3</a></li>
    <li><a href="/roll-dice/4">4</a></li>
    <li><a href="/roll-dice/5">5</a></li>
    <li><a href="/roll-dice/6">6</a></li>
</ul>
<div th:if="${userGuess}" >
    <p>You rolled a <span th:text="${userGuess}"></span></p>
    <p>The random number was <span th:text="${randNumber}" ></span></p>
<!--    type coercion courtesy of thymeleaf-->
    <p th:if="${userGuess} == ${randNumber}">You guessed right!</p>
    <p th:if="${userGuess} != ${randNumber}">You guessed wrong!</p>
</div>


</body>
</html>